## Data types

### Numbers

In [48]:
1 + 1

2

In [49]:
1 * 3

3

In [50]:
1 / 2

0.5

In [51]:
2 ** 4

16

In [52]:
4 % 2

0

In [53]:
5 % 2

1

In [54]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [55]:
# Can not start with number or special characters
name_of_var = 2
print(name_of_var)

2

In [56]:
x = 2
y = 3
print(x,'\n',y)

2
 3

In [57]:
z = x + y

In [58]:
z

5

### Strings

In [59]:
'single quotes'

'single quotes'

In [60]:
"double quotes"

'double quotes'

In [61]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [62]:
x = 'hello'

In [63]:
x

'hello'

In [64]:
print(x)

hello

In [65]:
num = 12
name = 'Sam'

In [66]:
print('My number is: {one}, and my name is: {two}, I am printing {one} again'.format(one=num,two=name))

My number is: 12, and my name is: Sam, I am printing 12 again

In [67]:
num = 12
name = 'Sam'
print('My number is: {}, and my name is: {}, I am printing {} again'.format(num,name,num))

My number is: 12, and my name is: Sam, I am printing 12 again

### Lists

In [68]:
[1,2,3]

[1, 2, 3]

In [69]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [70]:
my_list = ['a','b','c']

In [71]:
my_list.append('d')

In [72]:
my_list

['a', 'b', 'c', 'd']

In [73]:
my_list[0]

'a'

In [74]:
my_list[1]

'b'

In [75]:
my_list[1:3]

['b', 'c']

In [76]:
my_list[:1]

['a']

In [77]:
my_list[0] = 'NEW'

In [78]:
my_list

['NEW', 'b', 'c', 'd']

In [79]:
nest = [1,2,3,[4,5,['target']]]

In [80]:
nest[3]

[4, 5, ['target']]

In [81]:
nest[3][2]

['target']

In [82]:
nest[3][2][0][0]

't'

### Dictionaries

In [83]:
d = {'key1':'item1','key2':'item2'}

In [84]:
d

{'key1': 'item1', 'key2': 'item2'}

In [85]:
d['key1']

'item1'

### Booleans

In [86]:
True

True

In [87]:
False

False

### Tuples

In [88]:
t = (1,2,3)

In [89]:
t[0]

1

In [90]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [149]:
{1,2,3}

{1, 2, 3}

In [150]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [151]:
1 > 2

False

In [152]:
1 < 2

True

In [153]:
1 >= 1

True

In [154]:
1 <= 4

True

In [155]:
1 == 1

True

In [156]:
'hi' == 'bye'

False

## Logic Operators

In [157]:
(1 > 2) & (2 < 3)

False

In [158]:
(1 > 2) or (2 < 3)

True

In [159]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [160]:
if 1 < 2:
    print('Yep!')

Yep!

In [161]:
if 1 < 2:
    print('yep!')

yep!

In [162]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [163]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [164]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [165]:
seq = [1,2,3,4,5]

In [166]:
for item in seq:
    print(item)

1
2
3
4
5

In [167]:
for item in seq:
    print('Yep')
for i in range(1, 100):
    print (i)

Yep
Yep
Yep
Yep
Yep
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [168]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [169]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [170]:
x = range(5)
print(x)

range(0, 5)

In [171]:
for i in range(5):
    print(i)

0
1
2
3
4

In [172]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [173]:
x = [1,2,3,4]

In [174]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [175]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [176]:
def my_func(param1='default vakue is '):
    """
    Docstring goes here.
    """
    print(param1)

In [177]:
my_func

In [178]:
my_func()

default vakue is

In [179]:
my_func('new param')

new param

In [180]:
my_func(param1='new param')

new param

In [181]:
def square(x):
    return x**2

In [182]:
out = square(2)

In [183]:
print(out)

4

## lambda expressions

In [184]:
def times2(var):
    return var*2

In [185]:
times2(2)

4

In [186]:
lambda var: var*2

## map and filter

In [187]:
seq = [1,2,3,4,5]

In [188]:
map(times2,seq)

In [189]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [190]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [191]:
filter(lambda item: item%2 == 0,seq)

In [192]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [193]:
st = 'hello my name is Sam'

In [194]:
st.lower()

'hello my name is sam'

In [195]:
st.upper()

'HELLO MY NAME IS SAM'

In [196]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [197]:
tweet = 'Go Sports! #Sports'

In [198]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [199]:
tweet.split('#')[1]

'Sports'

In [200]:
d

{'key1': 'item1', 'key2': 'item2'}

In [201]:
d.keys()

dict_keys(['key1', 'key2'])

In [202]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [203]:
lst = [1,2,3]

In [204]:
lst.pop()

3

In [205]:
lst

[1, 2]

In [206]:
print('x' in [1,2,3])
if 'x' in [1,2,3]:
  print('x is present in list')
else:
  print('x is not present in list')

False
x is not present in list

In [207]:
mainlist = ['x','y','z']
if 'x' in mainlist:
  print('x is present in list')
else:
  print('x is not present in list')

x is present in list

In [208]:
mainlist = ['x','y','z']
search = 'x'
if search in mainlist:
  print('x is present in list')
else:
  print('x is not present in list')

x is present in list